:root {
    --cold-black: #121214;
    --grey-light: #e1e1e6
    --raisin-black: #202024;
    --very-dark-grey: #29292e;
    --white: #fff;
    --light-green: #00b37e;
    --dark-green: #00875f;
    --dark-purple: #8257e5;
    --salmon: #f75a68;
    --dark-red:#c53030;
}